@charset "utf-8";

.logo{
	background-color: coral;
	padding: 15px;
	text-align: center;
}

.slide{
	background-color: cadetblue;
	height: 300px;
	text-align: center;
}

.heading{
	background-color: coral;
	padding: 15px;
	text-align: center;
	width: 50%;
	
}

.footer{
	background-color: coral;
	padding: 15px;
	text-align: center;
}
}